@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.ibb.co/YRpVDFQ/background.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 80%; /* Adjusted width for responsiveness */
    max-width: 500px; /* Added max-width for smaller screens */
    height: 655px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    margin: 20px; /* Added margin for spacing */
}

.container #city,
.container #current-date {
    margin-top: 20px; /* Adjusted margin for responsiveness */
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}

.container #city {
    padding: 15px;
}

.search-box {
    position: relative;
    width: 100%;
    height: auto; /* Changed height to auto for responsiveness */
    display: flex;
    flex-direction: column; /* Stacked items in a column on smaller screens */
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input {
    position: relative; /* Changed to relative for responsiveness */
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 20px; /* Adjusted padding for better spacing */
    margin-top: 10px; /* Added margin for spacing */
}


@media (max-width: 600px) {
    
    .container {
        width: 90%;
    }
}
