@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.ibb.co/YRpVDFQ/background.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 80%;
    max-width: 500px;
    height: 655px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    margin: 20px;
}

.container #city,
.container #current-date {
    margin-top: 20px;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}

.container #city {
    padding: 15px;
}

.search-box {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input {
    position: relative;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-top: 10px;
}

/* Additional styles for tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Additional styles for smartphones */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .search-box input {
        padding: 12px 16px; /* Adjusted padding for smaller screens */
    }
}
